/*ヘッダーのホバーアニメーション*/
.hover-underline {
    position: relative;
    text-decoration: none;
}

.hover-underline::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white; /* アンダーラインの色 */
    transition: width 0.3s;
}

.hover-underline:hover::before {
    width: 100%;
}
/*end:ホバーアニメーション*/

/*フォントの設定*/
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inconsolata&family=Montserrat:wght@100&family=Rajdhani:wght@500&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inconsolata&family=Montserrat:wght@100&family=Rajdhani:wght@500&display=swap');

.logo-font {
	font-family: 'Roboto', sans-serif;
}

.desc-font {
	font-family: 'Montserrat', sans-serif;
	text-align: left;
}



