{% extends "base.html" %}
{% block content %}
    <div class="container mx-auto my-8">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            {% for post in posts %}
                <article class="bg-white p-4 rounded-md shadow-md">
                    <header class="mb-4">
                        <p class="text-gray-600">{{ post.user.username }}</p>
                        <p class="text-sm text-gray-500">{{ post.timestamp.strftime('%Y-%m-%d %H:%M') }}</p>
                    </header>
                    <h2 class="text-xl font-semibold mb-2">{{ post.title }}</h2>
                    <hr class="border-t-2 border-gray-200">
                </article>
            {% endfor %}
        </div>
    </div>
{% endblock %}
