{% extends "base.html" %}
{% block content %}
    <!-- 上の方のヘッダー -->
    <header class="bg-transparent fixed z-10 w-full">
        <nav class="p-4 text-white">
            <div class="container mx-auto">
                <div class="flex justify-between">
                    <div>
                        <a href="#top" class="text-lg font-semibold logo-font">TechCodeCraft</a>
                    </div>
                    <div>
                        <a href="/" class="mx-2 hover-underline">Home</a>
                        <a href="#" class="mx-2 hover-underline">About</a>
                        <a href="#" class="mx-2 hover-underline">Feature</a>
                        <a href="#" class="mx-2 hover-underline">Document</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <!-- メインの要素 -->
    <main id="top"
          class="text-center relative h-screen flex justify-center items-center">
        <!-- 動画を背景にする要素 -->
        <video autoplay
               loop
               muted
               playsinline
               class="absolute w-full h-full object-cover">
            <source src="{{ url_for('static', filename='video/rebackground.mp4') }}"
                    type="video/mp4">
        </video>
        <!-- テキストとボタン要素 -->
        <div class="z-10 relative text-white">
            <h1 class="text-4xl mb-4 font-bold logo-font">TechCodeCraft</h1>

			<!-- homeに遷移させるボタンプログラム -->
            <button onclick="location.href='/home'"
                    type="button"
                    class="px-6 py-3.5 text-base font-medium bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 m-9">
                Get started
            </button>
            <!-- ログインページに飛ぶ -->
            <button onclick="location.href='/login'" class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800">
                <span class="relative px-6 py-3.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                    Login
                </span>
			</button>
            </div>
        </main>
        <section class="mx-auto py-20">
        	<div>
            <h2 class="text-3xl mb-10 text-center">About</h2>
            	<h1>Infuse innovation into that space.</h1>
            	<p>By storing the technologies I have learned in a way that suits my preferences, I support the improvement of my
                skills.</p>
            </div>
        </section>
    {% endblock %}
